a {
    display: block;
    text-decoration: none;
    color: inherit;
}

a:not(:first-child) {
    margin-top: 15px;
}

li {
    padding: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: white;  
}

